In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
import os
import glob

In [9]:
files = glob.glob('*.csv')
print (files)

['categories.csv', 'cities.csv', 'countries.csv', 'customers.csv', 'employes.csv', 'products.csv', 'sales.csv']

In [41]:
df=pd.read_csv('sales.csv',nrows=100,sep=';')
df.head(100)

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,NaN,"0,00",2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,NaN,"0,00",2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,NaN,"0,00",2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,"0,00",2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,NaN,"0,00",2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3
...,...,...,...,...,...,...,...,...,...
95,96,9,22604,22,6,NaN,"0,00",2018-01-11 17:43:32.740,FCY2D2WR4YTXPGLYT0AE
96,97,21,1358,78,1,0.1,"0,00",2018-01-30 12:35:48.080,8DOKJUM3MQKFMAGSJ3SL
97,98,4,63272,182,17,0.1,"0,00",2018-01-02 18:33:10.390,UAXS9E5E3C56F7YAHU89
98,99,17,92090,124,24,0.2,"0,00",2018-03-24 15:29:24.980,I78H3546AWIT4D2QS9FG
99,100,23,6361,103,2,NaN,"0,00",2018-05-01 06:55:00.960,JDF863IH28KBQC3PA691

In [33]:
df.nunique()

SalesID              100
SalesPersonID         23
CustomerID           100
ProductID             91
Quantity              23
Discount               2
TotalPrice             1
SalesDate             99
TransactionNumber    100
dtype: int64

In [37]:
df['ProductID'].value_counts()

124    4
122    3
83     2
393    2
392    2
      ..
346    1
91     1
150    1
349    1
384    1
Name: ProductID, Length: 91, dtype: int64

In [38]:
#Use Categories and Sales.csv and find the amount people are spending on different categories of products  which finds which product is being costly and which is low.

In [45]:
#Which age group of employees are selling the most products and create a pie chart to visualize it.

In [39]:
#Using Employee id and City id use sales.csv and find out which city is generating maximum sales.

In [43]:
#Using Sales.csv which month is having the maximum sales and which city  use customer id

In [44]:
#Use Categories.csv and Products.csv file and find the number of items using Product Id as key and plot using bar graph